<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd 
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
            		http://www.springframework.org/schema/cache 
     		http://www.springframework.org/schema/cache/spring-cache.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<import resource="classpath*:conf/service-deploy.xml" />
	<import resource="classpath*:conf/framework-cache.xml" />
	
	<context:component-scan base-package="com.oil.av.web.api.service" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
	</context:component-scan>
	
	<!-- <task:scheduler id="myTaskNamespaceScheduler" pool-size="1"/>  
    <task:scheduled-tasks >  
        <task:scheduled ref="liveTriggerService" method="updateRoomWaitToOver" cron="0 */1 * * * ?"/>
        <task:scheduled ref="liveTriggerService" method="updateRoomLivingToOver" cron="*/30 * * * * ?"/>
        <task:scheduled ref="liveTriggerService" method="updateVideoInfo" cron="0 */3 * * * ?"/>
        <task:scheduled ref="smsService" method="sendVerifyCodeTrigger" cron="*/10 * * * * ?"/>
       
        <task:scheduled ref="liveProgramTriggerService" method="umengPush" cron="0 */1 * * * ?"/>
        
    </task:scheduled-tasks>
 -->
</beans>