<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oil.av.dao.api.user.WxUserDao">
	<resultMap id="WxUserResult" type="com.oil.av.entity.api.user.WxUserEntity">
			<result property="id" column="id" />	
			<result property="openid" column="openid" />	
			<result property="userId" column="user_id" />	
			<result property="isSubscription" column="is_subscription" />	
	</resultMap>
	<sql id="selectAllColumns">
		<![CDATA[	
		select
		id,openid,user_id,is_subscription
		from t_wx_user	  
		]]>
	</sql>
	
	<sql id="whereAllColumns">
			where 1=1
		<if test="params.id !=null and params.id !=''">
			and id = #{params.id}  
		</if>		
		<if test="params.openid !=null and params.openid !=''">
			and openid = #{params.openid}  
		</if>		
		<if test="params.userId !=null">
			and user_id = #{params.userId}  
		</if>				
		<if test="params.isSubscription !=null">
			and is_subscription = #{params.isSubscription}  
		</if>				
	</sql>
	
	
	
	
	<select id="get" parameterType="Long" resultMap="WxUserResult">
	    <include refid="selectAllColumns" />
		 where id = #{id}
	</select>

	<select id="getAll" resultMap="WxUserResult">
		<include refid="selectAllColumns" />
	</select>
	
	<select id="getWxUserEntityListByConditions"  resultMap="WxUserResult">
		<include refid="selectAllColumns" />
		<include refid="whereAllColumns" />
		<![CDATA[	limit #{pager.startIndex},#{pager.pageSize}]]> 
	</select>	
	<select id="getWxUserEntityCountsByConditions"  resultType="Long">
		<![CDATA[	select count(*) from t_wx_user ]]> 
		<include refid="whereAllColumns" />
	</select>			
	<update id="update" parameterType="com.oil.av.entity.api.user.WxUserEntity">
		<![CDATA[
		update t_wx_user set  
		id= #{id},openid= #{openid},user_id= #{userId},is_subscription= #{isSubscription}
		where id = #{id}
		]]>
	</update>
	
	
	<insert id="insert" parameterType="com.oil.av.entity.api.user.WxUserEntity" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	<![CDATA[
		insert into t_wx_user(openid,user_id,is_subscription)
		values(#{openid},#{userId},#{isSubscription})
	]]>
	</insert>
	
	 <!-- 根据主键删除一条记录 -->  
    <delete id="delete" parameterType="Long">  
    <![CDATA[
        delete from t_wx_user where id = #{id}
    ]]>
    </delete> 
</mapper>